@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:ital,wght@0,300;0,400;1,300&family=Oswald:wght@300&family=Poltawski+Nowy&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Roboto&display=swap');
* {
padding: 0 ; 
margin : 0 ; 
box-sizing : border-box ; 
list-style:  none ;
text-decoration : none ; 
font-family : 'Poppins' ,sans-serif ; 
}
html{
  min-height: 100%;
}
body{

    background:rgba(0, 0, 0, 0.466) url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}/*
body::after{
    content: '';
    position: relative;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: .7;
    z-index: -1;
}*/
.sidebar { 
width : 345px ; 
position : fixed ; 
left : 0 ; 
top : 0 ; 
height : 100% ; 
background : rgb(11, 88, 11) ; 
}

.sidebar-brand {  
height : 90px ; 
font-size: .8rem;
padding : 1rem 0rem 1rem 2rem ;
margin-top: .6rem;
margin-right: 2rem;
color : rgb(255, 255, 255) ; 
}
.sidebar-brand span { 
display : inline - block ;
padding-right : 1em ; 
}

.sidebar-menu li { 
width : 100% ; 
margin-bottom: 1.3rem ; 
padding-left: 2rem ; 
}

.sidebar-menu a { 
display : block ; 
color : #ffffff ; 
font-size : 1.2rem ; 
}
.sidebar-menu a:hover{
    color:rgb(0, 0, 0);
}.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
  }
  .main.active {
    width: calc(100% - 80px);
    left: 80px;
  }
  
  .topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  .search {
    position: relative;
    width: 400px;
    margin-right: 200px;
  }
  
  .search label {
    position: relative;
    width: 100%;
  }
  
  .search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
  }
  
  .search label box-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
  }
  
  .user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cardBox {
    position: relative;
    width: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .cardBox .card {
    position: relative;
    background:rgb(74, 153, 74);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.466);
  }
  
  .cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: rgb(255, 249, 249);
    text-align: center;
    padding: 10px;
  }
  
  .cardBox .card .cardName {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    margin-top: 5px;
    text-align: center;
  }
  .cardBox .card .cardNameAge{
    text-align: center;
  }
  .cardBox .card .iconBx {
    
    font-size: 3.5rem;
    color: rgb(0, 0, 0);
  }
 
  .cardBox .card:hover {
    background: rgb(142, 235, 129);
  }
  .cardBox .card:hover .numbers,
  .cardBox .card:hover .cardName,
  .cardBox .card:hover .iconBx {
    color: rgb(31, 92, 29);
  }
