body{
    
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size:1500px ;
    z-index: 1;
    
}
body::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: .7;
    z-index: -1;
}
form{
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.637);
    box-shadow: 0 0 40px rgba(56, 179, 31, 0.6);
    padding: 50px 35px;
}
form *{
    font-family:Arial, sans-serif;
    color: rgb(254, 255, 254);
    letter-spacing: 0.5px;
    outline: none;
    border-radius: 5px;
}
form h1{
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    text-align: center;
}
form h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 10px;
    text-align: center;
}
label{
    display: block;
    border: #ffffff;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #ffffff77;
}
button{
    margin-top: 50px;
    width: 425px;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 1px;
    cursor: pointer;
}
button:hover{
    color: white;
    background-color: rgb(17, 75, 0);
}

